/* Postavljanje fonta za cijelu stranicu */
body {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    background-image: url('../images/Background.jpg'); /* Postavljanje pozadinske slike */
    background-repeat: no-repeat; /* Onemogućavanje ponavljanja pozadinske slike */
    background-attachment: fixed; /* Fiksiranje pozadinske slike */
    background-size: cover; /* Prilagođavanje veličine pozadinske slike */
}

/* Stilizacija za margin na formi */
form {
    margin-top: 1.042vw; /* Margina na vrhu forme */
}

/* Stilizacija za naslov */
.title {
    position: absolute;
    height: 10.573vw; /* Visina naslova */
    width: 26.042vw; /* Širina naslova */
    margin-top: 0.104vw; /* Margina na vrhu naslova */
    margin-left: 35.4vw; /* Margina s lijeve strane naslova */
}

/* Stilizacija za placeholder u input poljima */
::placeholder {
    color: #4d4d4d; /* Boja placeholdera */
    font-weight: bold; /* Debljina teksta placeholdera */
    opacity: 1; /* Neprozirnost teksta placeholdera */
}

/* Stilizacija za tabele */
table {
    border-collapse: collapse; /* Spajanje granica tablice */
    margin-left: auto; /* Automatsko poravnanje tablice s lijeve strane */
    margin-right: auto; /* Automatsko poravnanje tablice s desne strane */
}

/* Stilizacija za gumba "create" */
.create {
    margin-left: 59.7vw; /* Margina s lijeve strane gumba "create" */
    margin-top: 21.458vw; /* Margina na vrhu gumba "create" */
    position: absolute; /* Pozicioniranje gumba "create" */
}

/* Stilizacija za gumba "createbtn" */
.createbtn {
    text-align: center; /* Centralno poravnanje teksta */
    background-color: #272727; /* Pozadinska boja gumba */
    border: 0.052vw solid #3b3b3b; /* Debljina i boja ruba gumba */
    box-sizing: border-box; /* Kalkulacija ruba */
    border-radius: 1.302vw; /* Radijus zaobljenih rubova */
    height: 2.083vw; /* Visina gumba */
    width: 4.167vw; /* Širina gumba */
    font-weight: bolder; /* Debljina teksta */
    color: white; /* Boja teksta */
    text-decoration: none; /* Uklanjanje podcrtavanja teksta */
}

/* Stilizacija za tekst unutar gumba "createtext" */
.createtext {
    text-align: center; /* Centralno poravnanje teksta */
    position: absolute; /* Pozicioniranje teksta */
    font-weight: bolder; /* Debljina teksta */
    color: white; /* Boja teksta */
    text-shadow: -0.052vw -0.052vw 0 #000, 0.052vw -0.052vw 0 #000, -0.052vw 0.052vw 0 #000, 0.052vw 0.052vw 0 #000; /* Sjena teksta */
    text-decoration: none; /* Uklanjanje podcrtavanja teksta */
}

/* Stilizacija za gumb "navbtn" */
.navbtn {
    background: transparent; /* Transparentna pozadina gumba */
    border: none; /* Uklanjanje ruba gumba */
    height: 2.083vw; /* Visina gumba */
}

/* Stilizacija za pretragu */
.search {
    margin-top: 10.417vw; /* Margina na vrhu pretrage */
    margin-left: 32.6vw; /* Margina s lijeve strane pretrage */
    position: absolute; /* Pozicioniranje pretrage */
}

/* Stilizacija za input polje unutar "create-input" */
.create-input {
    margin-left: 36.458vw; /* Margina s lijeve strane input polja */
    position: absolute; /* Pozicioniranje input polja */
}

/* Stilizacija za mala input polja */
.small-input-field {
    height: 2.083vw; /* Visina input polja */
    padding-left: 0.885vw; /* Unutarnji razmak s lijeve strane input polja */
    background: transparent; /* Transparentna pozadina input polja */
    border: none; /* Uklanjanje ruba input polja */
    outline: none; /* Uklanjanje obruba prilikom fokusiranja */
    font-size: large; /* Veličina fonta */
}

/* Stilizacija za input, select, textarea elemente */
input, select, textarea {
    color: rgb(0, 0, 0); /* Boja teksta */
    font-weight: bold; /* Debljina teksta */
}

/* Stilizacija za fokusirana input polja */
textarea:focus, input:focus {
    color: rgb(0, 0, 0); /* Boja teksta prilikom fokusiranja */
    font-weight: bold; /* Debljina teksta prilikom fokusiranja */
}

/* Stilizacija za panel za kreiranje */
.create_pannel {
    position: absolute; /* Pozicioniranje panela */
    margin-top: 13.854vw; /* Margina na vrhu panela */
    margin-left: 20vw; /* Margina s lijeve strane panela */
    width: 60vw; /* Širina panela */
    height: 35.625vw; /* Visina panela */
    z-index: 5; /* Sloj prikaza */
    background: transparent; /* Transparentna pozadina */
}

/* Stilizacija za opis unutar "description" */
.description {
    height: 21.833vw; /* Visina opisa */
    width: 62vw; /* Širina opisa */
    padding-left: 0.885vw; /* Unutarnji razmak s lijeve strane opisa */
    padding-top: 0.521vw; /* Unutarnji razmak s vrha opisa */
    margin-top: 1.302vw; /* Margina na vrhu opisa */
    background-color: #dedede; /* Pozadinska boja opisa */
    font-size: medium; /* Veličina fonta */
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif; /* Odabir fonta */
    border: none; /* Uklanjanje ruba */
    outline: none; /* Uklanjanje obruba prilikom fokusiranja */
    color: #000000; /* Boja teksta */
}

/* Stilizacija za "card" element */
.card {
    height: 20.573vw; /* Visina kartice */
    width: 32.031vw; /* Širina kartice */
    margin-left: 32.031vw; /* Margina s lijeve strane kartice */
    margin-top: 5.208vw; /* Margina na vrhu kartice */
    border: none; /* Uklanjanje ruba */
    outline: none; /* Uklanjanje obruba prilikom fokusiranja */
}

.markButton {
    height: 2.083vw; /* Visina gumba za označavanje */
    width: 8.854vw; /* Širina gumba za označavanje */
    position: absolute; /* Pozicioniranje gumba za označavanje */
    left: 0; /* Pomak gumba za označavanje s lijeve strane */
    z-index: 3; /* Sloj prikaza */
}

.result-text {
    text-shadow: -0.052vw -0.052vw 0 #000, 0.052vw -0.052vw 0 #000, -0.052vw 0.052vw 0 #000, 0.052vw 0.052vw 0 #000; /* Sjena teksta */
    z-index: 2; /* Sloj prikaza */
    position: relative; /* Relativno pozicioniranje */
}
