body {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    background-color: #181818;
}

form {
    margin-top: 20px;
}
.title {
    color: #e5d815;
    font-size: 60px;
    margin-top: 45px;
    position: absolute;

}
::placeholder {
    color: #838383;
    opacity: 1;
  }


table {
    border-collapse: collapse;
    margin-left: auto; 
    margin-right: auto;
}



.sitesnum {
    text-align: center;
    color: white;
    font-size: 100px;
    position: absolute;
    margin-top: 50px;
    margin-left: 860px;
    
}
.articles {
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: -15px;
    margin-left: 80px;
    
}
.create {
    margin-left: 1182px;
    margin-top: 230px;
    position: absolute;
}
.createbtn {
    text-align: center;
    background-color: #272727;
    border: 1px solid #3b3b3b;
    box-sizing: border-box;
    border-radius: 25px;
    height: 40px;
    padding-top: 9px;
    padding-bottom: 10px; 
    padding-left: 16px; 
    padding-right: 16px;
    font-weight: bolder;
    color: white;
    text-decoration: none;
}
.navbtn {
    text-align: center;
    background-color: #272727;
    border: 1px solid #3b3b3b;
    box-sizing: border-box;
    border-bottom-right-radius: 10px;
    height: 40px;
    padding-top: 9px;
    padding-bottom: 10px; 
    padding-left: 8px; 
    padding-right: 8px;
    font-weight: bolder;
    color: white;
}
.search {
    margin-top: 200px;
    margin-left: 645px;
    position: absolute;
}
.create-input {
    margin-left: 700px;
    position: absolute;
}
.small-input-field { 
    height: 40px;
    padding-left: 17px;
    background-color: #272727;
    border: 1px solid #3b3b3b;
    font-size: large;
    border-radius: 20px;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}
input, select, textarea{
    color: white;
}
textarea:focus, input:focus {
    color: white;
}



.create_pannel {

    position: absolute;
    margin-top: 166px;
    margin-left: 384px;
    width: 1152px;
    height: 648px;
    z-index: 4;
    background-color: #1f1f1f;
    border-radius: 7px;
}
.description {
    height: 400px;
    padding-left: 17px;
    padding-top: 10px;
    margin-top: 25px;
    background-color: #272727;
    border: 1px solid #3b3b3b;
    font-size: medium;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    border-radius: 7px;
    color:#ffffff;
}

.card {
    height: 270px;
    width: 420px;
    border-radius: 13px;
    margin-left: 750px;
    margin-top: 400px;
}