{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Scriptopedia</h1>
    {% if sites|length < 1 %}
    <h4 style="text-align: center">There are no sites. Create one below!</h4>
    {% else %}
    <table>
        <tr>
            <th style="width: 110px;">Task</th>
            <th style="width: 120px;">Added</th>
            <th style="width: 130px;">Actions</th>
        </tr>
        {% for site in sites %}
            <tr>
                <td>{{ site.content }}</td>
                <td>{{ site.date_created.date() }}</td>
                <td>
                    <a href="/delete/{{site.id}}">Delete</a>
                    <br>
                    <a href="/update/{{site.id}}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <div class="form">
    <form action="/create" method="POST">
        <input type="text" name="content" id="content">
        <input type="submit" value="Add Task">
    </form>
    </div>
</div>
{% endblock %}