{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<body>
    <div>
        <div class="maintitle">
            <div class="title" style="margin-left: 100px; width: 1780px; font-size: 40px;">
                <font color="#1776ab">{{ function.date_created.date() }}</font><font color="white">/</font>
                <font color="#e5d815">{{ function.language.upper() }}</font>
                <font color="white">-</font>
                <font color="#0dbc79">{{ function.name }}</font>
            </div>
            <div>
                <h2 style="margin-left: 100px; color: white; margin-top: 150px; position: absolute;">
                    {{ function.description }} <br>
                    <div class="create" style="margin-left: 0px; margin-top: 50px;"><a class="createbtn" href="/brisanje/{{function.id}}" style="color: #f14c4c;">obriši</a></div>
                    <div class="create" style="margin-left: 116px; margin-top: 50px;"><a class="createbtn" href="/uređivanje/{{function.id}}" style="color: #0dbc79;">uredi</a></div>
                    {% if function.bookmark %}
                        <div class="create" style="margin-left: 270px; margin-top: 50px;"><a class="createbtn" href="/označivanje/{{function.id}}" style="color: #3b3b3b; border-radius: 15px;">označi</a></div>
                    {% else %}
                        <div class="create" style="margin-left: 270px; margin-top: 50px;"><a class="createbtn" href="/označivanje/{{function.id}}" style="color: #e5d815; border-radius: 15px;">označi</a></div>
                    {% endif %}
                </h2>    
            </div>
        </div>
       
    </div>
</body>
{% endblock %}