{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<body>
    <img class="background">
    <div>
        <div class="maintitle">
            <div class="title" style="font-family: 'Courier New', Courier, monospace;">Scriptopedia</div>
            <div class="sitesnum">
                • {{ sitesNum }}
            <h6 class="articles">Functions</h6>
            </div>
        </div>
       
        <div class="search">
            <form action="/" method="POST" >
                <input type="search" class="searchbar" placeholder="Search...">
            </form>
        </div>

        <div class="create">
            <a class="createbtn" href="/create">Create</a>
        </form>
        </div>
    </div>

</body>
{% endblock %}