{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center; color: #e5d815; font-size: xx-large;">search_result: "{{ search }}"</h1>
    <table>
        <tr>
            <th style="width: 800px;"></th>
        </tr>
        {% if not isFound  or functions|length < 1%}
            <h3 style="text-align: center; color: white;"> Error: No functions could be found :( </h4>
            <a class="createbtn" href="/open" style="border: 1px solid #3b3b3b; margin-left: 860px; border-radius: 0px; font-size: larger;">Make a new func</a>
        {% endif %}

        {% for function in functions %}
            {% if search.lower() == function.name.lower() %}
                <meta http-equiv="refresh" content="0; /function/{{ function.id }}">
            {% elif (search in function.name or search in function.language) or (function.name in search or function.language in search) %}
                <tr>
                    <td style="color: #e5d815; font-size: x-large;">
                        <font color="white">../</font>
                        <font color="#1776ab">{{ function.date_created.date() }}</font>
                        <font color="white">/</font>
                        <font color="#e5d815">{{ function.language.upper() }}</font>
                        <font color="white">/</font>
                        <font color="#0dbc79"><a href="/function/{{function.id}}" style="text-decoration: none; color: #0dbc79;">{{ function.name.lower() }}</a></font>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
</div>
{% endblock %}