{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<body>
    <img class="background">
    <div>
        <div class="maintitle">
            <div class="title" style="font-family: 'Courier New', Courier, monospace;">Scriptopedia</div>
            </div>
        </div>
    <div class="content">
        <div class="create-input">
            
            <input style="margin-top: 10px; width: 200px; height: 30px;" type="search" class="small-input-field" placeholder="Language...">
        </div>
    </div>
</body>
{% endblock %}