{% extends 'base.html' %}

{% block body %}
<div class="overlay"></div>
            <img src="../static/images/notebook.png" style="height: 848px; width: 1452px; position: absolute; margin-top: 146px; margin-left: 242px; z-index: 4;">
            <div class="create_pannel" style="padding-left: 20px;">
                <form action="/uređivanje/{{ function.id }}" method="POST">
                    <input style="margin-top: 30px; width: 1102px; border-radius: 7px; z-index: 6; position: absolute;" type="search" class="small-input-field" placeholder="Naziv" maxlength="30" name="name" id="name" value="{{ function.name }}">
                    <img src="../static/images/SearchBAR.png" style="position: absolute; width: 535px; height: 40; z-index: 5; margin-top: 30px;">
                    <textarea rows="4" cols="121.5" class="description" placeholder="Opis(600 znakova)" maxlength="600" name="description" id="description" style="margin-top: 100px; position: absolute;">{{ function.description }}</textarea>
                    <div class="create" style="margin-left: 967px; margin-top: 523px; position: absolute; cursor: pointer;">
                        <img src="../static/images/CreateBTN.png" height="40px" width="80px" style="z-index: 4;">
                        <span class="createtext" style="z-index: 5;">Izrada</span>
                        <input type="submit" class="createbtn" style="color: transparent; position: absolute; background: transparent; border: none; outline: none; z-index: 6; margin-left: -80px;">
                    </div>
                    <div class="create" style="margin-left: 1052px; margin-top: 524px; position: absolute;">
                        <a href="/zatvaranje">
                            <img src="../static/images/eraser.png" height="40px" width="80px">
                            <span class="createtext">Izlaz</span>
                        </a>
                    </div>
                    <input style="margin-top: 523px; margin-right: 827px; width: 300px; border-radius: 7px; height: 30px; z-index: 6; position: absolute;" type="search" class="small-input-field" placeholder="Predmet" maxlength="12" name="language" id="language" value="{{ function.language }}">
                    <img src="../static/images/SearchBAR.png" style="position: absolute; width: 535px; height: 40; z-index: 5; margin-top: 523px;">
                </form>
            </div>
{% endblock %}