{% extends 'base.html' %}

{% block body %}
<!-- Slika kutije za kartice -->
<img src="../static/images/kutija.png" style="margin-top: 28.125vw; position: absolute; margin-left: 31.615vw; z-index: 3; height: 22.656vw; width: 37.24vw;">

<!-- Stil za flash kartice -->
<style>
    .flash-cards {
        position: relative;
    }

    .card {
        background: url(../static/images/card.png) no-repeat;
        background-size: 32vw;
        transform-style: preserve-3d;
        transition: transform 1s ease;
        cursor: pointer;
        text-align: center;
        width: 32.031vw;
        height: 20.573vw;
    }

    .card .side {
        display: block;
        position: absolute;
        height: 20.573vw;
        width: 32.031vw;
        backface-visibility: hidden;
        align-items: center;
        justify-content: center;
        color: black;
        font-weight: bold;
    }

    .card .back {
        transform: rotateY(180deg);
    }

    .card.rotate {
        transform: rotateY(180deg);
    }

    .card.translate {
        transition: transform 0.5s ease-in-out;
        transform: translateY(23.958vw);
    }

    .card.translate.delay {
        transition-delay: 0.5s;
    }
</style>

<!-- HTML za flash kartice -->
<div class="flash-cards">
    <button class="card" onclick="animateButton()">
        <!-- Prednja strana kartice -->
        <div class="side front" style="font-size: 1.302vw; color: black; font-weight: bold;  height: 10.417vw; overflow-wrap: break-word; width: 27.604vw; margin-left: 1.563vw;">{{ marked.name }}</div>
        <!-- Zadnja strana kartice -->
        <div class="side back" style="font-weight: 600; color: black; font-size: 0.579vw; height: 10.417vw; width: 27.604vw; margin-top: -5.167vw; overflow-wrap: break-word; margin-left: 1.823vw;">{{ marked.description }}</div>
    </button>
</div>

<!-- JavaScript za animaciju kartice -->
<script>
    var cardButton = document.querySelector('.card');
    var clickCount = 0;

    function animateButton() {
        clickCount++;

        if (clickCount % 2 === 1) {
            // Rotacija kartice
            cardButton.classList.add('rotate');
            document.querySelector('.side.front').innerHTML = '';
        } else {
            // Micanje kartice sa animacijom
            cardButton.classList.add('translate');
            
            // Osvježavanje stranice nakon kraja animacije
            setTimeout(function() {
                location.reload();
            }, 1000);
        }
    }
</script>

{% endblock %}
