{% extends 'base.html' %}

{% block body %}
<img src="../static/images/pinboard.jpg" style="height: 600px; width: 500px; position: absolute; margin-top: 146px; margin-left: 710px; z-index: 0;">
<form method="POST" style="color: white; position: absolute; z-index: 1; width: 500px; margin-left: 710px;">
    <div style="font-weight: bolder; font-size: 30px; text-align: center; margin-top: 175px;">
        <font>Prijava</font>
    </div>
    <div style="font-weight: bolder; font-size: 15px; text-align: center; margin-top: 0px;">
        <font>Dobro došli👋</font>
    </div>

    <div style="margin-left: 100px;">
        <input type="email" id="email" name="email" placeholder="Email" style="border-radius: 15px; height: 30px; width: 300px; text-align: center; margin-top: 70px;">
        <input type="password" id="password" name="password" placeholder="Lozinka" style="border-radius: 15px; height: 30px; width: 300px; text-align: center; margin-top: 30px;">
    </div>
    
    <button type="submit" style="background-color: #b49272; border-radius: 10px; width: 100px; height: 35px; border: none; color: white; font-weight: bolder; margin-top: 70px; margin-left: 200px;">Prijavi se</button>
</form>
{% endblock %}
