{% extends 'base.html' %}

{% block body %}
<!-- Glavni sadržaj stranice -->
<div class="content">
    <!-- Naslov -->
    <h1 style="text-align: center; color: #f1c3e0; font-size: 1.927vw; text-shadow: -0.052vw -0.052vw 0 #000, 0.052vw -0.052vw 0 #000, -0.052vw 0.052vw 0 #000, 0.052vw 0.052vw 0 #000;">Zabilježeni pojmovi</h1>
    
    <!-- Tabela za prikaz rezultata -->
    <table>
        <!-- Prikaz rezultata pretrage -->
        {% for definition in bookmarked %}
            <tr>
                <td>
                    <div style="position: relative; height: 7.813vw;">
                        <!-- Link na pojedinu definiciju -->
                        <a href="/pojam/{{ definition.id }}" style="text-decoration: none;">

                            <!-- Slika za svaku definiciju -->
                            <img src="../static/images/note.png" style="width: 52.083vw; height: 9.115vw; z-index: 1;  padding-left: 2.708vw; padding-bottom: 2.708vw;">
                            
                            <!-- Prikaz jezika, naziva i datuma kreiranja -->
                            <div class="result-text" style="bottom: 8.854vw; left: 9.635vw; color: rgb(220, 220, 220); font-weight: 300; font-size: 0.885vw; font-style: italic;">
                                <font>{{ definition.subject.upper() }}</font>
                            </div>

                            <div class="result-text" style="bottom: 11.458vw; left: 4.427vw; color: #6993CB; font-weight: 800; font-size: 1.198vw; ">
                                <font>{{ definition.name }}</font>
                            </div>

                            <div class="result-text" style="bottom: 11.25vw; left: 4.427vw; color: rgb(220, 220, 220); font-weight: lighter; font-size: 0.781vw;">
                                <font>{{ definition.date_created.date() }}, </font>
                            </div>

                            <!-- Prikaz opisa pojma -->
                            <div style="position: relative; bottom: 10.729vw; left: 4.427vw; z-index: 2; color: white; font-weight: lighter; font-size: 0.625vw; overflow-wrap: break-word; width: 48.958vw;">
                                <font><font>{{ definition.description[:550] }}{% if definition.description|length > 550 %}...{% endif %}</font></font>
                            </div>
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
