{% extends 'base.html' %}

{% block body %}
<!-- Glavni sadržaj stranice -->
<div class="content">
    <!-- Naslov rezultata pretrage -->
    <h1 style="text-align: center; color: #f1c3e0; font-size: 1.927vw; text-shadow: -0.052vw -0.052vw 0 #000, 0.052vw -0.052vw 0 #000, -0.052vw 0.052vw 0 #000, 0.052vw 0.052vw 0 #000;">Rezultati za "{{ search }}"</h1>

    <!-- Tabela za prikaz rezultata -->
    <table>
        {% if not isFound or user.definitions|length < 1 %}
            <!-- Poruka ako nema pronađenih rezultata -->
            <h3 style="text-align: center; color: white;">Nismo uspjeli pronaći rezultate :(</h4>
        {% endif %}

        <!-- Prikaz rezultata pretrage -->
        {% for definition in user.definitions|sort(attribute='date_created', reverse=True) %}
            {% if search.lower() == definition.name.lower() %}
                <!-- Ako je pronađen točan naziv, preusmjeri na definiciju -->
                <meta http-equiv="refresh" content="0; /pojam/{{ definition.id }}">
            {% elif (search.lower() in definition.name.lower() or search.lower() in definition.subject.lower()) or (definition.name.lower() in search.lower() or definition.subject.lower() in search.lower()) %}
                <!-- Ako je pronađena odgovarajuća definicija, prikaži je -->
                <tr>
                    <td>
                        <div style="position: relative; height: 7.813vw;">
                            <a href="/pojam/{{ definition.id }}" style="text-decoration: none;">
    
                                <!-- Slika za svaku definiciju -->
                                <img src="../static/images/note.png" style="width: 52.083vw; height: 9.115vw; z-index: 1;  padding-left: 2.708vw; padding-bottom: 2.708vw;">
                                
                                <!-- Prikaz jezika, naziva i datuma kreiranja -->
                                <div class="result-text" style="bottom: 8.854vw; left: 9.635vw; color: rgb(220, 220, 220); font-weight: 300; font-size: 0.885vw; font-style: italic;">
                                    <font>{{ definition.subject.upper() }}</font>
                                </div>
    
                                <div class="result-text" style="bottom: 11.458vw; left: 4.427vw; color: #6993CB; font-weight: 800; font-size: 1.198vw; ">
                                    <font>{{ definition.name }}</font>
                                    <!-- Dodavanje oznake ako je definicija označena -->
                                    {% if definition.bookmark %}
                                        <img src="../static/images/MARKEDbtn.png" style="width: 2.604vw; height: 2.604vw; z-index: 2; position: absolute; left: 45.573vw; bottom: -2.604vw;">
                                    {% endif %}
                                </div>
    
                                <div class="result-text" style="bottom: 11.25vw; left: 4.427vw; color: rgb(220, 220, 220); font-weight: lighter; font-size: 0.781vw;">
                                    <font>{{ definition.date_created.date() }}, </font>
                                </div>
    
                                <!-- Prikaz opisa definicije -->
                                <div style="position: relative; bottom: 10.729vw; left: 4.427vw; z-index: 2; color: white; font-weight: lighter; font-size: 0.625vw; overflow-wrap: break-word; width: 45.573vw;">
                                    <font><font>{{ definition.description[:500] }}{% if definition.description|length > 500 %}...{% endif %}</font></font>
                                </div>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
</div>
{% endblock %}
