{% extends 'base.html' %}

{% block body %}
<img src="../static/images/pinboard.jpg" style="height: 600px; width: 500px; position: absolute; margin-top: 146px; margin-left: 710px; z-index: 0;">
<form method="POST" style="color: white; position: absolute; z-index: 1; width: 500px; margin-left: 710px;">
    <div style="font-weight: bolder; font-size: 30px; text-align: center; margin-top: 175px;">
        <font>Registracija</font>
    </div>
    <div style="font-weight: bolder; font-size: 15px; text-align: center; margin-top: 0px;">
        <font>Pridružite se🎉</font>
    </div>

    <div style="margin-left: 100px; font-weight: bolder; font-size: 15px; text-align: center;">
        <font style="margin-left: -80px;  position: absolute; margin-top: 57px;">Korisničko ime: </font>
        <input type="text" id="username" name="username" style="border-radius: 10px; height: 30px; width: 250px; text-align: center; margin-top: 50px; margin-left: 50px;">

        <font style="margin-left: -420px; margin-top: 133px; position: absolute; overflow: hidden; white-space: nowrap;">E-mail adresa: </font>
        <input type="email" id="email" name="email" style="border-radius: 10px; height: 30px; width: 300px; text-align: center; margin-top: 40px; margin-left: 20px;">

        <font style="margin-left: -350px;  position: absolute; margin-top: 122px;">Lozinka: </font>
        <input type="password1" id="password1" name="password1" style="border-radius: 10px; height: 30px; width: 200px; text-align: center; margin-top: 40px; margin-left: -10px;">
        <font style="margin-left: -325px; position: absolute; margin-top: 92px; overflow: hidden; white-space: nowrap;">Potvrdite lozinku: </font>
        <input type="password2" id="password2" name="password2" style="border-radius: 10px; height: 30px; width: 200px; text-align: center; margin-top: 10px; margin-left: 70px;">
    </div>
    
    <button type="submit" style="background-color: #b49272; border-radius: 10px; width: 100px; height: 35px; border: none; color: white; font-weight: bolder; margin-top: 70px; margin-left: 200px;">Registriraj se</button>
</form>

{% endblock %}
