{% extends 'base.html' %}

{% block body %}
<!-- Forma za uređivanje pojma -->
<img src="../static/images/notebook.png" style="height: 41.667vw; width: 75.625vw; position: absolute; margin-top: 4.104vw; margin-left: 12.604vw; z-index: 4;">
<div class="create_pannel" style="margin-left: 19.542vw;">
    <form action="/uređivanje/{{ definition.id }}" method="POST">
        <!-- Polje za unos naziva pojma -->
        <input style="margin-top: -7.063vw; width: 57.396vw; border-radius: 0.365vw; z-index: 6; position: absolute;" type="search" class="small-input-field" placeholder="Naziv" maxlength="50" name="name" id="name" value="{{ definition.name }}">
        <img src="../static/images/SearchBAR.png" style="position: absolute; width: 31.365vw; z-index: 5; margin-top: -7.063vw;">

        <!-- Polje za unos opisa pojma -->
        <textarea rows="4" cols="121.5" class="description" placeholder="Opis (600 znakova)" maxlength="1100" name="description" id="description" style="margin-top: -2.308vw; position: absolute;">{{ definition.description }}</textarea>

        <!-- Gumb za ažuriranje pojma -->
        <div class="create" style="margin-left: 50.365vw; margin-top: 27.24vw;">
            <img src="../static/images/CreateBTN.png" style="height: 2.083vw; width: 4.167vw; z-index: 4; position: absolute;">
            <span class="createtext" style="z-index: 5; margin-left: 2.083vw; margin-top: 1.0415vw; font-size: 0.9vw; top: 40%; left: 50%; transform: translate(-50%, -50%);">Ažuriranje</span>
            <input type="submit" class="createbtn" style="color: transparent; position: absolute; background: transparent; border: none; outline: none; z-index: 6; cursor: pointer;">
        </div>

        <!-- Gumb za izlaz -->
        <div class="create" style="margin-left: 54.792vw; margin-top: 27.292vw; position: absolute;">
            <a href="/pojam/{{definition.id}}">
                <img src="../static/images/eraser.png" style="height: 2.083vw; width: 4.167vw;">
                <span class="createtext" style="font-size: 0.9vw; top: 40%; left: 50%; transform: translate(-50%, -50%);">Izlaz</span>
            </a>
        </div>

        <!-- Polje za unos predmeta pojma -->
        <input style="margin-top: 21.44vw; margin-right: 43.073vw; width: 19vw; border-radius: 0.365vw; height: 1.563vw; z-index: 6; position: absolute;" type="search" class="small-input-field" placeholder="Predmet" maxlength="30" name="subject" id="subject" value="{{ definition.subject }}">
        <img src="../static/images/SearchBAR.png" style="position: absolute; width: 27.865vw; z-index: 5; margin-top: 21.44vw;">
    </form>
</div>

{% endblock %}
